@mixin before_circle {
    &:before {
        background: $main-color;
        border-radius: 100%;
        content: '';
        height: 36px;
        left: 0;
        position: absolute;
        top: -25%;
        width: 36px;
        z-index: -1;
    }
}