ol {
    list-style: none;
    counter-reset: li;
    & > li:before {
        counter-increment: li;
        content: counters(li, ".")". ";
    }
}

ul {
    list-style: none;
    & > li:before {
        content: "- ";
    }
}