@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';