.hamburger {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    position: absolute;
    right: 30px;
    top: 20px;
    span {
        background: #151812;
        display: block;
        height: 3px;
        width: 30px;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    height: 100vh;
    left: -100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .6s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
    &.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    &__block {
        background-color: $main-color;
        height: 100%;
        padding-left: 40px;
        padding-top: 140px;
        position: relative;
        transition: all .6s;
        width: 345px;
        z-index: 10;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 25px;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
    }
    &__link {
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
        margin-bottom: 15px;
        position: relative;
        text-transform: uppercase;
        &::before {
            border-radius: 100%;
            border: 1px solid #000;
            content: '';
            height: 15px;
            left: -35px;
            position: absolute;
            top: 10px;
            transition: all .6s;
            width: 15px;
        }
        &:hover {
            &::before {
                background-color: #fff;
            }
        }
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    &__social {
        align-items: center;
        bottom: 50px;
        display: flex;
        justify-content: space-between;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 90px;
    }
    &__overlay {
        background-color: #fff;
        height: 100%;
        left: 0;
        opacity: .75;
        position: fixed;
        top: 0;
        width: 100%;
    }
}