.title {
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    &_fsz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fsz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fsz20 {
        font-size: 20px;
    }
    &_fsz36 {
        font-size: 36px;
    }
    &_fsz48 {
        font-size: 48px;
    }
}