.title {
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            top: -6px;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}